<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
	<param-name>encode</param-name> 
	<param-value>utf-8</param-value>
 </context-param>
 
 <error-page>
 	<exception-type>java.long.Throwable</exception-type>
 	<location>/error/500.jsp</location>
 </error-page>
 <error-page>
 	<error-code>404</error-code>
 	<location>/error/404.jsp</location>
 </error-page>
 
 <!-- 全站过滤器 -->
 <filter>
 	<description>全站过滤器</description>
 	<filter-name>EncodeFilter</filter-name>
 	<filter-class>com.wxj.filter.EncodeFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>EncodeFilter</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- <filter>
		<description>自动登陆过滤器</description>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.wxj.filter.AutoLoginFilter</filter-class>
</filter>
<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
</filter-mapping>
  -->
  
 
  <servlet>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.wxj.web.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.wxj.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.wxj.web.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wxj.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wxj.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>com.wxj.web.AddProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListProdServlet</servlet-name>
    <servlet-class>com.wxj.web.ListProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.wxj.web.ImgServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/ValiImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/AddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProdServlet</servlet-name>
    <url-pattern>/ListProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>

</web-app>